body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Roboto,Arial;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resetscore-button,
.autoplay-button  {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 18px;
    font-size: 15px;
}
.rps-heading {
    font-size: 31px;
    font-weight: bold;
    margin-top: 0;
}
.rock-button {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    background-color: rgb(25, 25, 25);
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 30px;
}
.rock-button img {
    height: 50px;
    object-fit: cover;
}
.paper-button {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    background-color: rgb(25, 25, 25);
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 30px;
}
.paper-button img {
    height: 50px;
    object-fit: cover;
}
.scissor-button {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    background-color: rgb(25, 25, 25);
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 30px;
}
.scissor-button img {
    height: 50px;
    object-fit: cover;
}

.result1-button {
    font-weight: bold;
    font-size: 23px;
}
.result-image {
    height: 50px;
}